USE [master]
GO
/****** Object:  Database [Blood_Pressure_DB]    Script Date: 12/13/2019 18:56:06 ******/
CREATE DATABASE [Blood_Pressure_DB] ON  PRIMARY 
( NAME = N'Blood_Pressure_DB', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\Blood_Pressure_DB.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Blood_Pressure_DB_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\Blood_Pressure_DB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Blood_Pressure_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Blood_Pressure_DB]
GO
/****** Object:  Table [dbo].[USER]    Script Date: 12/13/2019 18:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER](
	[ssn] [nvarchar](20) NOT NULL,
	[name] [nvarchar](30) NOT NULL,
	[age] [int] NULL,
	[gender] [nvarchar](1) NULL,
	[weight] [float] NULL,
	[password] [nvarchar](30) NULL,
 CONSTRAINT [PK_USER] PRIMARY KEY CLUSTERED 
(
	[ssn] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIET_PLAN]    Script Date: 12/13/2019 18:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIET_PLAN](
	[status] [nvarchar](100) NULL,
	[dietPlan] [nvarchar](1000) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BLOOD_PRESSURE]    Script Date: 12/13/2019 18:56:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BLOOD_PRESSURE](
	[userSSN] [nvarchar](20) NOT NULL,
	[date] [nvarchar](50) NOT NULL,
	[upper] [float] NULL,
	[lower] [float] NULL,
	[status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[userSSN] ASC,
	[date] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  ForeignKey [FK_BLOOD_PRESSURE_userSSN]    Script Date: 12/13/2019 18:56:09 ******/
ALTER TABLE [dbo].[BLOOD_PRESSURE]  WITH CHECK ADD  CONSTRAINT [FK_BLOOD_PRESSURE_userSSN] FOREIGN KEY([userSSN])
REFERENCES [dbo].[USER] ([ssn])
GO
ALTER TABLE [dbo].[BLOOD_PRESSURE] CHECK CONSTRAINT [FK_BLOOD_PRESSURE_userSSN]
GO
