<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IUSER" />
                <binding name="BasicHttpBinding_IBLOOD_PRESSURE" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:54392/USER.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IUSER" contract="ServiceReference1.IUSER"
                name="BasicHttpBinding_IUSER" />
            <endpoint address="http://localhost:54392/BLOOD_PRESSURE.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBLOOD_PRESSURE"
                contract="ServiceReference2.IBLOOD_PRESSURE" name="BasicHttpBinding_IBLOOD_PRESSURE" />
        </client>
    </system.serviceModel>
</configuration>